div#Home
  video
    position: absolute
    z-index: -100
    width: 100%

  div.card
    text-align: center
    border: none


  div#Header
    text-align: center

    padding:
      top: 6em
      bottom: 6em


    h1
      width: 100%
      font-size: 9vw

  div.Content
    box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.14)
    background-color: white

    padding:
      top: 1em


    h1
      margin:
        top: 1em
        bottom: 1em

