div#Home
  video
    position: absolute
    z-index: -100
    width: 100%

  div.card
    text-align: center
    border: none


  div#Header
    text-align: center
    color: blue
    margin:
      top: 2em

    padding:
      top: 2em
      bottom: 2em


    h1
      width: 100%
      font-size: 9vw

  div.Content
    background-color: white
